<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--引入属性配置文件-->
    <properties resource="application.yml" />

    <!-- mysql driver path -->
    <classPathEntry location="D:\我的文件\保险研发\code\biz-bgw\biz-bgw\biz-bgw-qc-web\build\lib\mysql-connector-java-5.1.21.jar" />

    <!--数据库配置-->
    <context id="MysqlTables" targetRuntime="MyBatis3">
        <jdbcConnection driverClass="${jdbc.driver}" connectionURL="${jdbc.url}" userId="${jdbc.userName}" password="${jdbc.password}">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- 自动生成Model的位置 -->
        <javaModelGenerator targetPackage="model" targetProject="/mybatis-generator/">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 自动生成Mapper.xml的位置 -->
        <sqlMapGenerator targetPackage="xml"  targetProject="/mybatis-generator/">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- 自动生成Mapper.java的位置 -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="dao"  targetProject="/mybatis-generator/">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="product_sale_record" domainObjectName="ProductSaleRecord" >
            <!---->
            <!--<property name="useActualColumnNames" value="true"/>-->
            <!--text字段和String进行映射-->
            <!--<columnOverride column="text_column" jdbcType="VARCHAR" />-->
        </table>

    </context>
</generatorConfiguration>